.podpis {
    margin: 0;
    font-family: PT Root UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #464646;
}

@media screen and (max-width: 768px) {
    .podpis {
        font-size: 12px;
        line-height: 17px;
    }
}

.content-title {
    margin: 0;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .content-title {
        font-size: 19px;
        line-height: 23px;
    }
}

.number {
    margin: 0;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 100px;
    line-height: 100px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -2px;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .number {
        font-size: 60px;
        line-height: 60px;
    }
}