.ui-kit {
    margin: 0;
    padding: 0;
}

.calendar-cell {
    position: relative;
    border: 1px solid red;
    max-width: 570px;
    min-height: 414px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .calendar-cell {
        max-width: 290px;
        min-height: 382px;
    }
}

.calendar-cell__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 30px 30px 0;
    list-style: none;
    max-width: 510px;
    min-height: 19px;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .calendar-cell__heading {
        padding: 30px 15px 0;
        max-width: 260px;
        min-height: 17px;
    }
}

.calendar-cell__title {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 10px 30px 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .calendar-cell__title {
        padding: 5px 15px 0;
        max-width: 260px;
    }
}

.cell__header {
    max-width: 320px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .cell__header {
        max-width: 166px;
    }
}

.calendar-cell__about {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px 30px 0;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .calendar-cell__about {
        padding: 50px 15px 0;
        max-width: 260px;
    }
}

.cell__content {
    border-bottom: 1px solid #A7A6A6;
}

.cell__content:last-child {
    border-bottom: none;
}

.cell__content_time {
    padding: 0 0 10px;
}

@media screen and (max-width: 768px) {
    .cell__content_time {
        padding: 0 0 5px;
    }
}

.cell__content_adress {
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .cell__content_adress {
        padding: 5px 0;
    }
}

.cell__content_lead {
    padding: 10px 0 0;
}

@media screen and (max-width: 768px) {
    .cell__content_lead {
        padding: 5px 0 0;
    }
}

.calendar-cell__signup {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 30px;
    list-style: none;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .calendar-cell__signup {
        padding: 30px 15px;
        max-width: 260px;
    }
}

.cell__signup_submit {
    max-width: 127px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: 1px solid #224CFF;
    padding: 13px 20px 16px;
    margin: 0;
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #224CFF;
}

@media screen and (max-width: 768px) {
    .cell__signup_submit {
        max-width: 100px;
        min-height: 40px;
        padding: 11px 15px 12px;
        font-size: 12px;
        line-height: 17px;
    }
}

.cell__signup_count {
    max-width: 109px;
    width: 100%;
    padding-left: 15px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .cell__signup_count {
        max-width: 93px;
        padding-left: 10px;
    }
}

.cell__signup_open-menu {
    max-width: 48px;
    min-height: 48px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #224CFF;
    padding: 10px 10px;font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #224CFF;
}

@media screen and (max-width: 768px) {
    .cell__signup_open-menu {
        max-width: 40px;
        min-height: 40px;
        font-size: 18px;
        line-height: 19px;
    }
}

.cell__signup_popup {
    padding-left: 212px;
}

@media screen and (max-width: 768px) {
    .cell__signup_popup {
        padding-left: 17px;
    }
}